<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\Logs\TvMazeScrapper\Global.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variable name="logDirectory" value="C:\Logs\TvMazeScrapper" />

	<targets>

		<target name="console" xsi:type="Console" />

		<target name="asyncInfoLog" xsi:type="AsyncWrapper" overflowAction="Discard">
			<target
				name="infoLog"
				xsi:type="File"
				fileName="${logDirectory}\Info.log"
				archiveFileName="${logDirectory}\Archive\Info-{#}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|ActivityId: ${activityid}|${message}${exception:format=tostring}"
				maxArchiveFiles="15"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				archiveNumbering="Date" />
		</target>

		<target name="asyncErrorLog" xsi:type="AsyncWrapper" overflowAction="Discard">
			<target
				name="errorLog"
				xsi:type="File"
				fileName="${logDirectory}\Error.log"
				archiveFileName="${logDirectory}\Archive\Error-{#}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|ActivityId: ${activityid}|${message}${exception:format=tostring}"
				maxArchiveFiles="15"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				archiveNumbering="Date" />
		</target>

		<target name="asyncFatalLog" xsi:type="AsyncWrapper" overflowAction="Discard">
			<target
				name="fatalLog"
				xsi:type="File"
				layout="${longdate}|${level:uppercase=true}|ActivityId: ${activityid}|${message}|${exception:format=tostring}"
				fileName="${logDirectory}\Fatal.log"
				archiveFileName="${logDirectory}\Archive\Fatal-{#}.log"
				maxArchiveFiles="15"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				archiveNumbering="Date" />
		</target>

		<target name="asyncWarnLog" xsi:type="AsyncWrapper" overflowAction="Discard">
			<target
				name="warnLog"
				xsi:type="File"
				fileName="${logDirectory}\Warn.log"
				archiveFileName="${logDirectory}\Archive\Warn-{#}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|ActivityId: ${activityid}|${message}"
				maxArchiveFiles="15"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				archiveNumbering="Date" />
		</target>
	</targets>

	<rules>
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" level="Info" writeTo="asyncInfoLog" />
		<logger name="*" level="Error" writeTo="asyncErrorLog" />
		<logger name="*" level="Fatal" writeTo="asyncFatalLog" />
		<logger name="*" level="Warn" writeTo="asyncWarnLog" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>